/* ==========================================================================
   STYLES FOR BLOOMCASE
   ========================================================================== */

/*  COLORS:
    Black = #121212
    Beige = #F5F5F5
    Gray = #3F3F3F
    Light Purple = #A85FAB
    Dark Purple = #783D7A
    Light Blue = #1A9CC6
    Dark Blue = #086989
    Light Green = #749D32
    Dark Green = #4B6A18
    Light Gold = #E5C04E
    Dark Gold = #B38C14
    Red = #AE2F2C
    Light gray (text on black) = #e9e9e9
*/

/* ----- GENERAL STYLES ----- */

body {
    font-family: "Open Sans", sans-serif;
    font-size:16px;
    background: #F5F5F5;
    color: #121212;
    line-height: 1.75em;
}

/* Headers */

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin:1em 0 .5em 0;
}
h1 {
    font-size:3em;
    line-height: 1.2em;
}
.front h1 {
    display:none;
}
h2 {
    font-size:2.25em;
    line-height: 1.25em;
}
h3 {
    font-size:1.5em;
    line-height: 1.4em;
}
h4 {
    font-size:1.25em;
    line-height: 1.5em;
}
h5 {
    font-size:1em;
    line-height: 1.5em;
}
h6 {
    font-size:0.9em;
    line-height: 1.5em;
}

/* Images */
img {
    max-width: 100%;
    height:auto;
}

/* Text */
.lead {
    font-weight: 300;
    font-size:1.75em;
    line-height: 1.25em;
    margin-bottom: 0.5em;
}

/* Links */
a {
    text-decoration: none;
    color: #B38C14;
    font-weight: 600;
}
a:hover, a:focus {
    text-decoration: underline;
    position: relative;
}

/* Tooltips on links */
a[data-title]:hover:after {
    content: attr(data-title);
    color: #000000;
    background:#ffffff;
    font-size: 0.7em;
    left: -25px;
    padding: 0.2em 0.5em;
    position: absolute;
    top: 250%;
    white-space: nowrap;
    z-index: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
}

/* Buttons */
.button {
    background: #3F3F3F;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    color: #FFFFFF;
    display: inline-block;
    line-height: 1.2em;
    padding: 0.7em 2em;
    font-size: 0.8em;
    font-weight: 500;
    border:0;
}

.button:hover, .button:focus {
    background:#262626;
    text-decoration: none;
}
.button.red {
    background: #AE2F2C;
}
.button.red:hover, .button.red:focus {
    background:#951613;
}
.button.purple {
    background: #783D7A;
}
.button.purple:hover, .button.purple:focus {
    background:#5F2461;
}
.button.green {
    background: #4B6A18;
}
.button.green:hover, .button.green:focus {
    background:#325100;
}
.button.blue {
    background: #086989;
}
.button.blue:hover, .button.blue:focus {
    background:#005070;
}
.button.more-link, .button.more-link:hover {
    background-image: url("../img/icon-arrow-right.png");
    background-position: 87% center;
    background-repeat: no-repeat;
    padding-right: 30px;
}

/* Lists */
ul li {
    list-style-type: square;
}

/* Logo and Site Title */
.logo, .site-title {
    display: inline-block;
}
.logo {
    margin-right: 0.5em;
    vertical-align: super;
}
a.logo-link:hover, a.logo-link:focus, a.logo-link:active {
	text-decoration:none;
}
.site-title {
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 600;
}

/* Display and positioning helper classes */
.hidden {
    display:none;
}
.row {
    clear:both;
}
.align-center {
    text-align: center;
}
.grid-4 {
    width:30%;
    display: inline-block;
    margin-right: 1em;
    width: 30%;
    vertical-align: top;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.grid-4:last-child {
    margin-right:0;
}


/* Containers */
.border-top {
    border-top: 1px solid #3F3F3F;
}
.container {
    padding:16px 32px;
    margin-left: auto;
    margin-right:auto;
}
.container.constrained {
    max-width: 1200px;
}

/* ----- DARK ------ */

.dark {
    background:#121212;
    color: #E9E9E9;
    font-weight: 300;
    letter-spacing: 0.02em;
}

/* Links - dark */
.dark a {
    color:#E5C04E;
    font-weight: 300;
}

/* Buttons - dark */
.dark .button {
    color:#ffffff;
}

/* ----- NAVIGATION ----- */

/* Main menu */
#main-menu {
    display: inline-block;
    margin-top: 0.25em;
	float:right;
}
ul.menu {
    margin:0;
    padding:0;
}
.menu li {
    margin-right: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    list-style-type: none;
    border-right: 1px solid #fff;
    line-height: 1em;
}
.menu li:last-child {
    border-right:none;
    margin-right:0;
    padding-right: 0;
}

/* Main menu - logged in */
.logged-in #main-menu ul#general-links.menu  {
    display: inline-block;  
    margin-right: 0.5em;
    position: relative;
    top: -5px;
    height:35px;
}
.logged-in #main-menu .menu li {
    border-right:0;
}

/* ----- LOGGED IN USER MENU ----- */

/* Notifications */
.notification {
	background: #AE2F2C;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
    border-radius: 1em;
    color: #FFFFFF;
    font-size: 0.6em;
    height: 1em;
    line-height: 1em;
    margin: 0;
    padding: 3px;
    position: absolute;
    right: -7px;
    text-align: center;
    top: -7px;
    width: 1em;
	-webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 1px 3px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 1px 3px rgba(50, 50, 50, 0.75);
}
ul.dropdown li.notifications {
	padding: 0 1.5em;
}
.notifications-title {
	font-size: 0.7em;
    font-weight: 600;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
.notification-message {
	font-size: 0.8em;
    margin-bottom: 0.5em;
}
ul.dropdown li .notification-link a {
	padding:0;
	font-size:0.8em;
}
ul.dropdown li .notification-link a:after {
	content: " »";
}

/* Click nav and Dropdown menu */

ul.dropdown {
    color:#121212;
    background:#ffffff;
    width:215px;
    border:1px solid #3F3F3F;
    -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 1px 3px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 1px 3px rgba(50, 50, 50, 0.5);
}
ul.dropdown li {
    display: block;
    padding: 0em 0.5em;
    border-right: none;
    margin-right:0;
}
ul.dropdown li:first-child {
    padding-top:1em;
}
ul.dropdown li:last-child {
    padding-bottom:1em;
}
ul.dropdown li a {
    color:#B38C14;
    display: block;
    font-size: 0.9em;
    font-weight: 400;
    padding: 0.25em 1em;
}
ul.dropdown li a:hover, ul.dropdown li a:focus, ul.dropdown li a:active {
    text-decoration:none;
    color:#121212;
}
ul.dropdown li.separator {
    border-bottom:1px solid #3F3F3F;    
    margin-bottom: 0.5em;
    padding-top: 0.5em;
}
.click-nav {display: inline-block;}
.click-nav-2 {margin-right: 0.5em;}
.click-nav ul {position:relative; margin: 0; padding: 0; z-index: 10;}
.click-nav ul li {position:relative;list-style:none;cursor:pointer;}
.click-nav ul li ul {position:absolute;left:0;right:0;}
.click-nav.click-nav-1 ul li ul {position:absolute;left:auto;right:0;}
.click-nav ul .clicker {position:relative;}
.click-nav ul li a {display:block;}
a.clicker { color: #121212; height: 35px; width: 35px; border:1px solid #F5F5F5; }
a.clicker:hover, a.clicker:focus, a.clicker:active {text-decoration:none; border:1px solid #121212;}
.click-nav-1 a.clicker { border:1px solid #121212;}
.click-nav-1 a.clicker:hover, .click-nav-1 a.clicker:focus, .click-nav-1 a.clicker:active {border:1px solid #E5C04E;}
.clicker:after {content:none;}
.clicker img {height: 35px; vertical-align: bottom; width: 35px;}
/* Fallbacks */
.click-nav .no-js ul {display:none;}
.click-nav .no-js:hover ul {display:block;}


/* ----- HEADER ----- */

#header {

}

/* ----- CONTENT ----- */

#content {

}

/* ----- FOOTER ----- */

#footer {
    font-size: 0.8em;
}
#footer p {
    margin:0;
}



/* ----- PROJECT PAGE ----- */

/* Project header */
#project-header {
    border-bottom: 1px solid #121212;
}
.project-thumb {
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: super;
}
h1.project-title {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
    display:inline-block;
}

/* Project menu (modes) */
#project-menu {
    display:inline-block;
    float: right;
}
#project-menu img {
    display:block;
}
#project-menu a {
    opacity: 0.6;
}
#project-menu a:hover, #project-menu a:focus, #project-menu a.active  {
    opacity: 1;
}
#project-menu .menu li {
    border:0;
}

/* Project actions menu (dropdown) */
#project-actions-menu img {
    margin-right: 0.25em;
}

/* Project map styles */
.Idea:hover, .Draft:hover, .Inspiration:hover, .Final:hover, .Sketch:hover {stroke:#000000;}
.Idea {fill:#C69722;}
.Draft {fill:#628C31;}
.Inspiration {fill:#874C81;}
.Final {fill:#352C2A;}
.Sketch {fill:#2D83A5;}
.link {stroke:#352C2A; fill:none; stroke-width:2px;}
.node text { pointer-events: none; font: 10px sans-serif; fill:#FFF; }

/* SVGs */
#map, #background {width:100%; height:500px;}
#map, #background, #betweenLayer {top: 0;}
#background {position: absolute;}
#map, #betweenLayer {position:relative;}

/* Display Parent */
#bloomViz {
    position: relative;
    overflow: hidden;
}

/* Zoom controls */
#zoom-controls {
    position:absolute;
    top: 5px;
    right: 5px;
    background:#ffffff;
    border: 1px solid #121212;
    display: inline-block;
    padding:0.5em;
    z-index: 1;
}
#zoom-label {
    font-size: 0.8em;
    line-height: 1em;
}
.zoom-control {
    display:inline-block;
    background: #121212;
    border: none;
    font-size: 0;
    height: 15px;
    width: 15px;
    margin-right: 2px;
}
.zoom-control:hover {
    background:#3F3F3F;
}
#zoom-1 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#zoom-2 {
    height: 20px;
    width: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#zoom-3 {
    height: 27px;
    width: 27px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* Zoom level 2 */
.zoom2 {
    background-color: #000000;
    border: 2px solid black;
    display: block;
    height: 70px;
    opacity: 1;
    pointer-events: auto;
    position: absolute;
    width: 70px;
}
.zoom2 img {
    height: 100%;
    opacity: 0;
    width: 100%;
}
.zoom2 .text {
    color: #FFFFFF;
    font-size: 0.6em;
    line-height: 1.3em;
    padding: 0 5%;
    position: relative;
    text-align: center;
    width: 90%;
    bottom:-10%;
}
.zoom2 .text.below {
    color:#000000;
    bottom: -0.5em;
}

/* ----- Modals and Panels ----- */
.modal, .panel {
    background:#ffffff;
    border:1px solid #121212;
    padding: 0.7em 1em;
    display: block;
    position:absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 50%;
    top: 100px;
}
.modal {
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
}
.panel {
    border-bottom: 0;
    border-top: 0;
    height: 100%;
    left: auto;
    right: 0;
    top: 0;
    width: 380px;
    z-index: 20;
}

/* New node form */
.modal.is-short {
    height: 185px;
    width: 230px;
}
.modal.is-long {
    width:260px;
}
#new-node-thumb {
    display:inline-block;
    margin-right: .5em;
}
#new-node-form {
    display:inline-block;
    width: 100%;
}
#new-node-cancel {
    line-height: 17px;
    position: absolute;
    right: 17px;
}
#new-node-cancel img {
    opacity: 0.5;
}
#new-node-cancel:hover img {
    opacity: 1;
}
input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
textarea {
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    padding: 0.5em;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0.5em;
}
input.disabled {
    opacity:0.3;
}
#new-node-form-buttons {
    margin-top: .5em;
    vertical-align: top;
}
#new-node-more {
    display: inline-block;
    float:right;
}
.dark-background {
    background: #121212;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 60px;
    padding: 0.5em;
    text-align: center;
    width: 60px;
    color:#ffffff;
    font-weight: 400;
    font-size: 0.8em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    float:left;
}
.dark-background .icon-camera {
    margin-top: 10px;
}
.dark-background:hover, .dark-background:focus {
    background:#3F3F3F;
    text-decoration: none;
}
.icon-sketch {
    padding-top: 30px;
    background-image: url("../img/icon-sketch-sm.png");
    background-repeat: no-repeat;
    background-position:top center;
    margin-top: 6px;
    padding-top: 14px;
}
.form-divider {
    margin-bottom: .5em;
}
/* State change for new node form */
.is-short #new-node-form-desc,
.is-short #new-node-form-url,
.is-short #new-node-form-date,
.is-short #new-node-form-tags, 
.is-short #new-node-delete {
    display: none;
}
.is-long #new-node-more {
    display:none;
}
.is-long #new-node-form-submit {
    float:right;
}

/* Modal arrows */
.modal:before, .modal:after {
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
    border: 15px solid transparent;
}
.modal:before {
    z-index: 2;
}
.modal.is-long:before {
    border-right-color: #FFFFFF;
    left: -28px;
    margin-top: 160px;
}
.modal:after {
    z-index: 1;
}
.modal.is-long:after {
    border-right-color: #333333;
    left: -30px;
    margin-top: 160px;
}
.modal.is-short:before {
    border-top-color: #FFFFFF;
    left: 95px;
    margin-top: 170px;
}
.modal.is-short:after {
    border-top-color: #333333;
    left: 95px;
    margin-top: 15px;
}

/* Popup modal for nodes */
#node-popup {
    left: 55%;
    top: 10px;
}

/* Node info modal */
.node-info {
    width: 190px;
}
#node-info-title {
    font-weight: 600;
    margin: 0.75em 0;
    line-height: 1em;
}
.node-info-type {
    margin-right: 5px;
}
#node-info-desc {
    font-size: 0.8em;
    line-height: 1.3em;
    margin: 1em 0;
}
#node-info-edit {
    padding: 0.3em 1em 0.5em 1em;
    float:left;
}
#node-info-more {
    padding: 0.3em 21px 0.5em 1em;
    float: right;
}

/* For trimming overflow text */
.ellipsis:before, .ellipsis:after, .ellipsis > * {
    opacity: 1; 
}
.ellipsis {
    overflow: hidden;
    height: 3.9em;
}
.ellipsis:before {
    content: "";
    float: left;
    width: 5px; 
    height: 3.9em; 
    background: #FFF; 
}
.ellipsis > *:first-child {
    float: right;
    width: 100%; 
    margin-left: -5px;
    background: #FFF; 
}
.ellipsis:after {
    content: " ...";
    float: right; 
    position: relative;
    top: -1.3em; 
    left: 100%;
    width: 30px; 
    margin-left: -30px;
    padding-right: 5px;
    background: #FFF; 
}

/* Form validation with Parsley */
.parsley-error {
    background:#FFE4E4;
}
.parsley-success {
    background: #E7FFE4;
}
.parsley-error-list {
    font-size: 0.7em;
    margin: -10px 0 1em 0.5em;
    padding: 0;
}
.parsley-error-list li {
    list-style: none;
}
