/* --------------- GENERAL STYLES --------------- */
/* line 2, ../scss/_base.scss */
html, body {
  height: 100%;
}

/* line 6, ../scss/_base.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background: whitesmoke;
  color: #121212;
  line-height: 1.5em;
}

/* Opera fix for sticky footer */
/* body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
} */
/* line 24, ../scss/_base.scss */
#wrapper {
  min-height: 100%;
}

/* line 28, ../scss/_base.scss */
#main {
  overflow: auto;
  padding-bottom: 122px;
  padding-top: 2em;
}

/* line 34, ../scss/_base.scss */
.project-page #main {
  padding-top: 0;
  padding-bottom: 0;
}

/* --------------- Headers --------------- */
/* line 41, ../scss/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 1em 0 .5em 0;
}

/* line 45, ../scss/_base.scss */
h1 {
  font-size: 3em;
  line-height: 1.2em;
  margin-top: 0;
}

/* line 50, ../scss/_base.scss */
.front h1 {
  display: none;
}

/* line 53, ../scss/_base.scss */
h2 {
  font-size: 2.25em;
  line-height: 1.25em;
}

/* line 57, ../scss/_base.scss */
h3 {
  font-size: 1.5em;
  line-height: 1.4em;
}

/* line 61, ../scss/_base.scss */
h4 {
  font-size: 1.25em;
  line-height: 1.5em;
}

/* line 65, ../scss/_base.scss */
h5 {
  font-size: 1em;
  line-height: 1.5em;
}

/* line 69, ../scss/_base.scss */
h6 {
  font-size: 0.9em;
  line-height: 1.5em;
}

/* line 75, ../scss/_base.scss */
h3.faq {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 2em;
}

/* line 80, ../scss/_base.scss */
h3.faq:before {
  content: "Q:";
  background: whitesmoke;
  padding: 0.25em 0.5em;
  border: 1px solid #e9e9e9;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  border-radius: 1.5em;
  margin-right: 0.25em;
}

/* --------------- Images --------------- */
/* line 90, ../scss/_base.scss */
img {
  max-width: 100%;
}

/* --------------- Text --------------- */
/* line 95, ../scss/_base.scss */
.lead {
  font-weight: 300;
  font-size: 1.75em;
  line-height: 1.25em;
  margin-bottom: 0.5em;
}

/* line 101, ../scss/_base.scss */
.small {
  font-size: 0.8em;
  line-height: 1.5em;
}

/* --------------- Lists --------------- */
/* line 107, ../scss/_base.scss */
ul li {
  list-style-type: square;
}

/* --------------- Links --------------- */
/* line 112, ../scss/_base.scss */
a {
  text-decoration: none;
  color: #b38c14;
  font-weight: 600;
}

/* line 117, ../scss/_base.scss */
a:hover, a:focus {
  text-decoration: underline;
  position: relative;
}

/* --------------- Tooltips on links --------------- */
/* line 123, ../scss/_base.scss */
a[data-title]:hover:after {
  content: attr(data-title);
  color: #121212;
  background: white;
  font-size: 0.7em;
  left: -25px;
  padding: 0.2em 0.5em;
  position: absolute;
  top: 250%;
  white-space: nowrap;
  z-index: 20;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 4px #222222;
  -moz-box-shadow: 0px 0px 4px #222222;
  box-shadow: 0px 0px 4px #222222;
}

/* --------------- Logo and Site Title --------------- */
/* line 139, ../scss/_base.scss */
.logo, .site-title {
  display: inline-block;
}

/* line 142, ../scss/_base.scss */
.logo {
  margin-right: 0.5em;
  vertical-align: super;
}

/* line 146, ../scss/_base.scss */
a.logo-link:hover, a.logo-link:focus, a.logo-link:active {
  text-decoration: none;
}

/* line 149, ../scss/_base.scss */
.site-title {
  color: white;
  font-size: 1.5em;
  font-weight: 600;
}

/* ----- Footer logo and site title ----- */
/* line 156, ../scss/_base.scss */
#footer .logo {
  margin-right: 0.25em;
}

/* line 159, ../scss/_base.scss */
#footer .logo img {
  height: auto;
  width: 25px;
}

/* line 163, ../scss/_base.scss */
#footer .site-title {
  font-size: 1.2em;
}

/* --------------- Display and positioning helper classes --------------- */
/* line 168, ../scss/_base.scss */
.hidden {
  display: none;
}

/* line 171, ../scss/_base.scss */
.align-center {
  text-align: center;
}

/* line 174, ../scss/_base.scss */
.align-left {
  text-align: left;
}

/* line 177, ../scss/_base.scss */
.row .well.center, .row .center.modal, .row .center.panel {
  display: inline-block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/* line 184, ../scss/_base.scss */
.grid-4 {
  width: 30%;
  display: inline-block;
  margin-right: 1em;
  width: 30%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 192, ../scss/_base.scss */
.grid-4:last-child {
  margin-right: 0;
}

/* line 196, ../scss/_base.scss */
.divider {
  clear: both;
  border-top: 1px solid #e9e9e9;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding-top: 1em;
}

/* line 203, ../scss/_base.scss */
.divider:last-of-type {
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 0.5em;
}

/* line 209, ../scss/_base.scss */
.float-left {
  float: left;
}
/* line 211, ../scss/_base.scss */
.float-left img {
  margin-right: 1em;
  margin-bottom: 1em;
}

/* line 216, ../scss/_base.scss */
.float-right {
  float: right;
}
/* line 218, ../scss/_base.scss */
.float-right img {
  margin-left: 1em;
  margin-bottom: 1em;
}

/* line 223, ../scss/_base.scss */
.clear-both {
  clear: both;
}

/* line 227, ../scss/_base.scss */
.row {
  clear: both;
  overflow: hidden;
  margin-bottom: 1em;
  position: relative;
}
/* line 233, ../scss/_base.scss */
.row .span1 {
  width: 6.77966%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 234, ../scss/_base.scss */
.row .span2 {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 235, ../scss/_base.scss */
.row .span3 {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 236, ../scss/_base.scss */
.row .span4 {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 237, ../scss/_base.scss */
.row .span5 {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 238, ../scss/_base.scss */
.row .span6 {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 239, ../scss/_base.scss */
.row .span7 {
  width: 57.62712%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 240, ../scss/_base.scss */
.row .span8 {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 241, ../scss/_base.scss */
.row .span9 {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 242, ../scss/_base.scss */
.row .span10 {
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 243, ../scss/_base.scss */
.row .span11 {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 244, ../scss/_base.scss */
.row div:last-child {
  margin-right: 0;
}

/* --------------- FOOTER --------------- */
/* line 249, ../scss/_base.scss */
#footer {
  position: relative;
  margin-top: -90px;
  height: 90px;
  clear: both;
  font-size: 0.8em;
}

/* line 256, ../scss/_base.scss */
#footer p {
  margin: 0;
}

/* ----- Homepage ------ */
/* line 261, ../scss/_base.scss */
#home-splash {
  background-image: url("../img/bc_home_bkg.png");
  background-repeat: no-repeat;
  background-position: center 138px;
  height: 450px;
}

/* line 267, ../scss/_base.scss */
#tagline {
  font-size: 3em;
  font-weight: 300;
  letter-spacing: -0.02em;
  margin-bottom: 0.75em;
  margin-top: 0;
}

/* line 274, ../scss/_base.scss */
.front iframe {
  border: 1px solid #3f3f3f;
  height: 271px;
  left: 120px;
  position: relative;
  top: 30px;
  width: 350px;
}

/* line 282, ../scss/_base.scss */
.home-points {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.2em;
  position: absolute;
  width: 200px;
}

/* line 289, ../scss/_base.scss */
#home-points-1 {
  left: 45px;
  margin-top: -180px;
}

/* line 293, ../scss/_base.scss */
#home-points-2 {
  left: 269px;
  margin-top: -50px;
}

/* line 297, ../scss/_base.scss */
#home-points-3 {
  margin-top: -180px;
  right: 50px;
}

/* --------------- Containers --------------- */
/* line 2, ../scss/layouts/_containers.scss */
.border-top {
  border-top: 1px solid #3f3f3f;
}

/* line 5, ../scss/layouts/_containers.scss */
.container {
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

/* line 11, ../scss/layouts/_containers.scss */
.container.constrained {
  max-width: 1200px;
}

/* --------------- DARK --------------- */
/* line 3, ../scss/_themes.scss */
.dark {
  background: #121212;
  color: #e9e9e9;
  font-weight: 300;
  letter-spacing: 0.02em;
}

/* --------------- Links - dark --------------- */
/* line 11, ../scss/_themes.scss */
.dark a {
  color: #e5c04e;
  font-weight: 300;
}

/* --------------- Buttons - dark --------------- */
/* line 17, ../scss/_themes.scss */
.dark .button {
  color: white;
}

/* --------------- Buttons --------------- */
/* line 2, ../scss/modules/_buttons.scss */
.button {
  background: #3f3f3f;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  color: white;
  display: inline-block;
  line-height: 1.2em;
  padding: 0.5em 1.5em;
  font-size: 0.8em;
  font-weight: 500;
  border: 0;
}

/* line 14, ../scss/modules/_buttons.scss */
.button:hover, .button:focus {
  background: #2c2c2c;
  text-decoration: none;
  cursor: pointer;
}

/* line 19, ../scss/modules/_buttons.scss */
.button.red {
  background: #ae2f2c;
}

/* line 22, ../scss/modules/_buttons.scss */
.button.red:hover, .button.red:focus {
  background: #79201e;
}

/* line 25, ../scss/modules/_buttons.scss */
.button.purple {
  background: #783d7a;
}

/* line 28, ../scss/modules/_buttons.scss */
.button.purple:hover, .button.purple:focus {
  background: #542a55;
}

/* line 31, ../scss/modules/_buttons.scss */
.button.green {
  background: #4b6a18;
}

/* line 34, ../scss/modules/_buttons.scss */
.button.green:hover, .button.green:focus {
  background: #344a10;
}

/* line 37, ../scss/modules/_buttons.scss */
.button.blue {
  background: #086989;
}

/* line 40, ../scss/modules/_buttons.scss */
.button.blue:hover, .button.blue:focus {
  background: #05495f;
}

/* line 43, ../scss/modules/_buttons.scss */
.button.beige {
  background: whitesmoke;
  color: #121212;
}

/* line 47, ../scss/modules/_buttons.scss */
.button.beige:hover, .button.beige:focus {
  background: #c4c4c4;
}

/* line 50, ../scss/modules/_buttons.scss */
.button.more-link, .button.more-link:hover {
  background-image: url("../img/icon-arrow-right.png");
  background-position: 87% center;
  background-repeat: no-repeat;
  padding-right: 30px;
}

/* line 57, ../scss/modules/_buttons.scss */
.lead .button {
  padding: 0.5em 1.25em;
}

/* --------------- NAVIGATION --------------- */
/* --------------- Main menu --------------- */
/* line 4, ../scss/modules/_menu-main.scss */
#main-menu {
  display: inline-block;
  margin-top: 0.25em;
  float: right;
}

/* line 9, ../scss/modules/_menu-main.scss */
ul.menu {
  margin: 0;
  padding: 0;
}

/* line 13, ../scss/modules/_menu-main.scss */
.menu li {
  margin-right: 0.5em;
  padding-right: 0.5em;
  display: inline-block;
  list-style-type: none;
  border-right: 1px solid white;
  line-height: 1em;
}

/* line 21, ../scss/modules/_menu-main.scss */
.menu li:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}

/* --------------- Main menu - logged in --------------- */
/* line 28, ../scss/modules/_menu-main.scss */
.logged-in #main-menu ul#general-links.menu {
  display: inline-block;
  margin-right: 0.5em;
  position: relative;
  top: -5px;
  height: 35px;
}

/* line 35, ../scss/modules/_menu-main.scss */
.logged-in #main-menu .menu li {
  border-right: 0;
}

/* --------------- LOGGED IN USER MENU --------------- */
/* --------------- Notifications --------------- */
/* line 4, ../scss/modules/_notification.scss */
.notification {
  background: #ae2f2c;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  color: white;
  font-size: 0.6em;
  height: 1em;
  line-height: 1em;
  margin: 0;
  padding: 3px;
  position: absolute;
  right: -7px;
  text-align: center;
  top: -7px;
  width: 1em;
  -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.75);
}

/* line 20, ../scss/modules/_notification.scss */
ul.dropdown li.notifications {
  padding: 0 1.5em;
}

/* line 23, ../scss/modules/_notification.scss */
.notifications-title {
  font-size: 0.7em;
  font-weight: 600;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

/* line 29, ../scss/modules/_notification.scss */
.notification-message {
  font-size: 0.8em;
  margin-bottom: 0.5em;
  line-height: 1.5em;
}
/* line 34, ../scss/modules/_notification.scss */
.notification-message a {
  color: #121212;
}

/* line 41, ../scss/modules/_notification.scss */
ul.dropdown li .notification-link a {
  padding: 0;
  font-size: 0.8em;
}

/* line 45, ../scss/modules/_notification.scss */
ul.dropdown li .notification-link a:after {
  content: " »";
}

/* --------------- Click nav and Dropdown menu --------------- */
/* line 3, ../scss/modules/_menu-dropdown.scss */
ul.dropdown {
  color: #121212;
  background: white;
  width: 215px;
  border: 1px solid #3f3f3f;
  -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.5);
}

/* line 10, ../scss/modules/_menu-dropdown.scss */
ul.dropdown li {
  display: block;
  padding: 0em 0.5em;
  border-right: none;
  margin-right: 0;
}

/* line 16, ../scss/modules/_menu-dropdown.scss */
ul.dropdown li:first-child {
  padding-top: 1em;
}

/* line 19, ../scss/modules/_menu-dropdown.scss */
ul.dropdown li:last-child {
  padding-bottom: 1em;
}

/* line 22, ../scss/modules/_menu-dropdown.scss */
ul.dropdown li a {
  color: #b38c14;
  display: block;
  font-size: 0.9em;
  font-weight: 400;
  padding: 0.25em 1em;
}

/* line 29, ../scss/modules/_menu-dropdown.scss */
ul.dropdown li a:hover, ul.dropdown li a:focus, ul.dropdown li a:active {
  text-decoration: none;
  color: #121212;
}

/* line 33, ../scss/modules/_menu-dropdown.scss */
ul.dropdown li.separator {
  border-bottom: 1px solid #3f3f3f;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
}

/* line 38, ../scss/modules/_menu-dropdown.scss */
.click-nav {
  display: inline-block;
}

/* line 41, ../scss/modules/_menu-dropdown.scss */
.click-nav-2 {
  margin-right: 0.5em;
}

/* line 44, ../scss/modules/_menu-dropdown.scss */
.click-nav ul {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 21;
}

/* line 50, ../scss/modules/_menu-dropdown.scss */
.click-nav ul li {
  position: relative;
  list-style: none;
  cursor: pointer;
}

/* line 55, ../scss/modules/_menu-dropdown.scss */
.click-nav ul li ul {
  position: absolute;
  left: 0;
  right: 0;
}

/* line 60, ../scss/modules/_menu-dropdown.scss */
.click-nav.click-nav-1 ul li ul {
  position: absolute;
  left: auto;
  right: 0;
}

/* line 65, ../scss/modules/_menu-dropdown.scss */
.click-nav ul .clicker {
  position: relative;
}

/* line 68, ../scss/modules/_menu-dropdown.scss */
.click-nav ul li a {
  display: block;
}

/* line 71, ../scss/modules/_menu-dropdown.scss */
a.clicker {
  color: #121212;
  height: 35px;
  width: 35px;
  border: 1px solid whitesmoke;
}

/* line 77, ../scss/modules/_menu-dropdown.scss */
a.clicker:hover, a.clicker:focus, a.clicker:active {
  text-decoration: none;
  border: 1px solid #121212;
}

/* line 81, ../scss/modules/_menu-dropdown.scss */
.click-nav-1 a.clicker {
  border: 1px solid #121212;
}

/* line 84, ../scss/modules/_menu-dropdown.scss */
.click-nav-1 a.clicker:hover, .click-nav-1 a.clicker:focus, .click-nav-1 a.clicker:active {
  border: 1px solid #e5c04e;
}

/* line 87, ../scss/modules/_menu-dropdown.scss */
.clicker:after {
  content: none;
}

/* line 90, ../scss/modules/_menu-dropdown.scss */
.clicker img {
  height: 35px;
  vertical-align: bottom;
  width: 35px;
}

/* Fallbacks */
/* line 96, ../scss/modules/_menu-dropdown.scss */
.click-nav .no-js ul {
  display: none;
}

/* line 99, ../scss/modules/_menu-dropdown.scss */
.click-nav .no-js:hover ul {
  display: block;
}

/* --------------- PROJECT PAGE --------------- */
/* --------------- Project header --------------- */
/* line 4, ../scss/modules/_menu-project.scss */
#project-header {
  border-bottom: 1px solid #121212;
}

/* line 7, ../scss/modules/_menu-project.scss */
.project-thumb {
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: super;
}

/* line 12, ../scss/modules/_menu-project.scss */
h1.project-title {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
  display: inline-block;
}

/* --------------- Project menu (modes) --------------- */
/* line 20, ../scss/modules/_menu-project.scss */
#project-menu {
  display: inline-block;
  float: right;
}

/* line 24, ../scss/modules/_menu-project.scss */
#project-menu img {
  display: block;
}

/* line 27, ../scss/modules/_menu-project.scss */
#project-menu a {
  opacity: 0.6;
}

/* line 30, ../scss/modules/_menu-project.scss */
#project-menu a:hover, #project-menu a:focus, #project-menu a.active {
  opacity: 1;
}

/* line 33, ../scss/modules/_menu-project.scss */
#project-menu .menu li {
  border: 0;
}

/* --------------- Project actions menu (dropdown) --------------- */
/* line 38, ../scss/modules/_menu-project.scss */
#project-actions-menu img {
  margin-right: 0.25em;
}

/* --------------- Edit presentation menu (dropdown) --------------- */
/* line 43, ../scss/modules/_menu-project.scss */
#edit-presentation-header {
  display: inline-block;
  float: right;
}

/* line 47, ../scss/modules/_menu-project.scss */
#edit-presentation-header ul.dropdown {
  width: 180px;
}

/* line 50, ../scss/modules/_menu-project.scss */
#edit-presentation-menu-title, #edit-presentation-done {
  display: inline-block;
}

/* line 53, ../scss/modules/_menu-project.scss */
#edit-presentation-menu-title {
  margin-right: 1em;
  font-weight: 600;
}

/* line 57, ../scss/modules/_menu-project.scss */
#edit-presentation-header a.clicker {
  opacity: 0.6;
  border: none;
}

/* line 61, ../scss/modules/_menu-project.scss */
#edit-presentation-header a.clicker:hover, #edit-presentation-header a.clicker:focus, #edit-presentation-header a.clicker:active {
  opacity: 1;
  border: none;
}

/* --------------- Project map styles --------------- */
/* line 2, ../scss/modules/_map.scss */
.Idea:hover, .Draft:hover, .Inspiration:hover, .Final:hover, .Sketch:hover {
  stroke: #121212;
}

/* line 3, ../scss/modules/_map.scss */
.Idea {
  fill: #b38c14;
}

/* line 4, ../scss/modules/_map.scss */
.Draft {
  fill: #086989;
}

/* line 5, ../scss/modules/_map.scss */
.Inspiration {
  fill: #783d7a;
}

/* line 6, ../scss/modules/_map.scss */
.Final {
  fill: #121212;
}

/* line 7, ../scss/modules/_map.scss */
.Sketch {
  fill: #4b6a18;
}

/* line 8, ../scss/modules/_map.scss */
.link {
  stroke: #121212;
  fill: none;
  stroke-width: 2px;
}

/* line 9, ../scss/modules/_map.scss */
.node text {
  pointer-events: none;
  font: 10px sans-serif;
  fill: white;
}

/* --------------- SVGs --------------- */
/* line 12, ../scss/modules/_map.scss */
#map, #background {
  width: 100%;
  height: 500px;
}

/* line 13, ../scss/modules/_map.scss */
#map, #background, #betweenLayer {
  top: 0;
}

/* line 14, ../scss/modules/_map.scss */
#background {
  position: absolute;
}

/* line 15, ../scss/modules/_map.scss */
#map, #betweenLayer {
  position: relative;
}

/* --------------- Display Parent --------------- */
/* line 18, ../scss/modules/_map.scss */
#bloomViz {
  position: relative;
  overflow: hidden;
}

/* --------------- Zoom level 2 --------------- */
/* line 24, ../scss/modules/_map.scss */
.zoom2 {
  background-color: #121212;
  border: 2px solid #121212;
  display: block;
  height: 70px;
  opacity: 1;
  pointer-events: auto;
  position: absolute;
  width: 70px;
}

/* line 34, ../scss/modules/_map.scss */
.zoom2 img {
  height: 100%;
  opacity: 0;
  width: 100%;
}

/* line 39, ../scss/modules/_map.scss */
.zoom2 .text {
  color: white;
  font-size: 0.6em;
  line-height: 1.3em;
  padding: 0 5%;
  position: relative;
  text-align: center;
  width: 90%;
  bottom: -10%;
}

/* line 49, ../scss/modules/_map.scss */
.zoom2 .text.below {
  color: #121212;
  bottom: -0.5em;
}

/* --------------- Zoom controls --------------- */
/* line 2, ../scss/modules/_zoom-controls.scss */
#zoom-controls {
  position: absolute;
  top: 5px;
  right: 5px;
  background: white;
  border: 1px solid #121212;
  display: inline-block;
  padding: 0.5em;
  z-index: 1;
}

/* line 12, ../scss/modules/_zoom-controls.scss */
#zoom-label {
  font-size: 0.8em;
  line-height: 1em;
}

/* line 16, ../scss/modules/_zoom-controls.scss */
.zoom-control {
  display: inline-block;
  background: #121212;
  border: none;
  font-size: 0;
  height: 15px;
  width: 15px;
  margin-right: 2px;
}

/* line 25, ../scss/modules/_zoom-controls.scss */
.zoom-control:hover {
  background: #3f3f3f;
}

/* line 28, ../scss/modules/_zoom-controls.scss */
#zoom-1 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 31, ../scss/modules/_zoom-controls.scss */
#zoom-2 {
  height: 20px;
  width: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 36, ../scss/modules/_zoom-controls.scss */
#zoom-3 {
  height: 27px;
  width: 27px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* --------------- For trimming overflow text --------------- */
/* line 2, ../scss/modules/_ellipsis.scss */
.ellipsis:before, .ellipsis:after, .ellipsis > * {
  opacity: 1;
}

/* line 5, ../scss/modules/_ellipsis.scss */
.ellipsis {
  overflow: hidden;
  height: 3.9em;
}

/* line 9, ../scss/modules/_ellipsis.scss */
.ellipsis:before {
  content: "";
  float: left;
  width: 5px;
  height: 3.9em;
  background: white;
}

/* line 16, ../scss/modules/_ellipsis.scss */
.ellipsis > *:first-child {
  float: right;
  width: 100%;
  margin-left: -5px;
  background: white;
}

/* line 22, ../scss/modules/_ellipsis.scss */
.ellipsis:after {
  content: " ...";
  float: right;
  position: relative;
  top: -1.3em;
  left: 100%;
  width: 30px;
  margin-left: -30px;
  padding-right: 5px;
  background: white;
}

/* --------------- Wells, Modals, and Panels --------------- */
/* line 2, ../scss/modules/_modal.scss */
.well, .modal, .panel {
  background: white;
  border: 1px solid #bfbfbf;
  padding: 1em 1.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  position: relative;
}

/* line 10, ../scss/modules/_modal.scss */
.modal, .panel {
  display: block;
  position: absolute;
  left: 50%;
  padding: 0.7em 1em;
  border-color: #121212;
}

/* line 18, ../scss/modules/_modal.scss */
.panel {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-bottom: 0;
  border-top: 0;
  height: 100%;
  left: auto;
  right: 0;
  top: 0;
  width: 380px;
  z-index: 20;
}

/* line 30, ../scss/modules/_modal.scss */
.well h2, .modal h2, .panel h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
  color: #3f3f3f;
}

/* line 36, ../scss/modules/_modal.scss */
.well > h2:first-child, .modal > h2:first-child, .panel > h2:first-child, .well > h3:first-child, .modal > h3:first-child, .panel > h3:first-child {
  margin-top: 0;
}

/* line 40, ../scss/modules/_modal.scss */
.well.well-dark, .well-dark.modal, .well-dark.panel {
  background: #f0f0f0;
}

/* --------------- Modal arrows --------------- */
/* line 45, ../scss/modules/_modal.scss */
.modal-arrow {
  height: 0px;
}

/* line 48, ../scss/modules/_modal.scss */
.modal-arrow:before, .modal-arrow:after {
  content: " ";
  height: 0;
  position: absolute;
  width: 0;
  border: 15px solid transparent;
}

/* line 55, ../scss/modules/_modal.scss */
.modal-arrow:before {
  z-index: 2;
  border-top-color: white;
  left: 75px;
  margin-top: 35px;
}

/* line 61, ../scss/modules/_modal.scss */
.modal-arrow:after {
  z-index: 1;
  border-top-color: #3f3f3f;
  left: 75px;
  margin-top: 37px;
}

/* --------------- Arrows for new node form states --------------- */
/* line 68, ../scss/modules/_modal.scss */
.is-short .modal-arrow:before {
  left: 95px;
  margin-top: 170px;
}

/* line 72, ../scss/modules/_modal.scss */
.is-short .modal-arrow:after {
  left: 95px;
  margin-top: 172px;
}

/* line 76, ../scss/modules/_modal.scss */
.is-long .modal-arrow:before {
  border-top-color: transparent;
  border-right-color: white;
  left: -28px;
  margin-top: 160px;
}

/* line 82, ../scss/modules/_modal.scss */
.is-long .modal-arrow:after {
  border-top-color: transparent;
  border-right-color: #3f3f3f;
  left: -30px;
  margin-top: 160px;
}

/* ----- Alert ----- */
/* line 2, ../scss/modules/_alert.scss */
.alert {
  padding: 0.5em 2em .5em 1em;
  line-height: 1.3em;
  font-size: 0.85em;
}

/* line 8, ../scss/modules/_alert.scss */
.modal.alert {
  width: 300px;
  margin-left: -150px;
  top: 150px;
}

/* line 14, ../scss/modules/_alert.scss */
.alert-success {
  background: #e3ebd6;
}
/* line 16, ../scss/modules/_alert.scss */
.alert-success a {
  color: #4b6a18;
}
/* line 19, ../scss/modules/_alert.scss */
.alert-success a:hover {
  color: #121212;
}

/* line 24, ../scss/modules/_alert.scss */
.alert-error {
  background: #eed5d4;
}
/* line 26, ../scss/modules/_alert.scss */
.alert-error a {
  color: #ae2f2c;
}
/* line 29, ../scss/modules/_alert.scss */
.alert-error a:hover {
  color: #121212;
}

/* line 33, ../scss/modules/_alert.scss */
.alert-info {
  background: #d1ebf3;
}
/* line 35, ../scss/modules/_alert.scss */
.alert-info a {
  color: #086989;
}
/* line 38, ../scss/modules/_alert.scss */
.alert-info a:hover {
  color: #121212;
}

/* --------------- New node form --------------- */
/* line 2, ../scss/modules/_new-node-form.scss */
.modal.is-short {
  height: 185px;
  width: 230px;
}

/* line 6, ../scss/modules/_new-node-form.scss */
.modal.is-long {
  width: 260px;
}

/* line 9, ../scss/modules/_new-node-form.scss */
#new-node-thumb {
  display: inline-block;
  margin-right: .5em;
}

/* line 13, ../scss/modules/_new-node-form.scss */
#new-node-form {
  display: inline-block;
  width: 100%;
  position: relative;
}

/* line 18, ../scss/modules/_new-node-form.scss */
#new-node-cancel {
  line-height: 17px;
  position: absolute;
  right: 17px;
}

/* line 23, ../scss/modules/_new-node-form.scss */
#new-node-cancel img {
  opacity: 0.5;
}

/* line 26, ../scss/modules/_new-node-form.scss */
#new-node-cancel:hover img {
  opacity: 1;
}

/* line 36, ../scss/modules/_new-node-form.scss */
input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=password],
textarea {
  border: 1px solid #e9e9e9;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.5em;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.5em;
}

/* line 45, ../scss/modules/_new-node-form.scss */
input.disabled {
  opacity: 0.3;
}

/* line 48, ../scss/modules/_new-node-form.scss */
#new-node-form-buttons {
  margin-top: .5em;
  vertical-align: top;
}

/* line 52, ../scss/modules/_new-node-form.scss */
#new-node-more {
  display: inline-block;
  float: right;
}

/* line 56, ../scss/modules/_new-node-form.scss */
.dark-background {
  background: #121212;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: 60px;
  padding: 0.5em;
  text-align: center;
  width: 60px;
  color: white;
  font-weight: 400;
  font-size: 0.8em;
  margin-right: 0.5em;
  margin-bottom: 1em;
  float: left;
}

/* line 72, ../scss/modules/_new-node-form.scss */
.dark-background .icon-camera {
  margin-top: 10px;
}

/* line 75, ../scss/modules/_new-node-form.scss */
.dark-background:hover, .dark-background:focus {
  background: #3f3f3f;
  text-decoration: none;
}

/* line 79, ../scss/modules/_new-node-form.scss */
.icon-sketch {
  padding-top: 30px;
  background-image: url("../img/icon-sketch-sm.png");
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 6px;
  padding-top: 14px;
}

/* line 87, ../scss/modules/_new-node-form.scss */
.form-divider {
  margin-bottom: .5em;
}

/* --------------- State change for new node form --------------- */
/* line 95, ../scss/modules/_new-node-form.scss */
.is-short #new-node-form-desc,
.is-short #new-node-form-url,
.is-short #new-node-form-date,
.is-short #new-node-form-tags,
.is-short #new-node-delete {
  display: none;
}

/* line 98, ../scss/modules/_new-node-form.scss */
.is-long #new-node-more {
  display: none;
}

/* line 101, ../scss/modules/_new-node-form.scss */
.is-long #new-node-form-submit {
  float: right;
}

/* --------------- Form validation with Parsley --------------- */
/* line 106, ../scss/modules/_new-node-form.scss */
.parsley-error {
  background: #ffe4e4;
}

/* line 109, ../scss/modules/_new-node-form.scss */
.parsley-success {
  background: #e7ffe4;
}

/* line 112, ../scss/modules/_new-node-form.scss */
.parsley-error-list {
  font-size: 0.7em;
  margin: -3em 0 1em 0.5em;
  padding: .25em 1em;
  border: 1px solid #ae2f2c;
  position: absolute;
  background: #ffe4e4;
  -webkit-border-radius: 0 0.5em 0.5em 0.5em;
  -moz-border-radius: 0 0.5em 0.5em 0.5em;
  -ms-border-radius: 0 0.5em 0.5em 0.5em;
  -o-border-radius: 0 0.5em 0.5em 0.5em;
  border-radius: 0 0.5em 0.5em 0.5em;
  line-height: 1.2em;
  left: 80%;
  min-width: 100px;
  -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.75);
}

/* line 125, ../scss/modules/_new-node-form.scss */
.parsley-error-list li {
  list-style: none;
}

/* ----- Sign Up/In Form ----- */
/* line 3, ../scss/modules/_sign-up-form.scss */
#sign-up-form, #sign-in-form {
  max-width: 300px;
}

/* --------------- Edit presentation reorder panel --------------- */
/* line 2, ../scss/modules/_edit-presentation-reorder-panel.scss */
#edit-presentation-reorder h2 {
  font-size: 1.5em;
  margin: 0 0 0.5em;
}

/* line 6, ../scss/modules/_edit-presentation-reorder-panel.scss */
#edit-presentation-reorder-done {
  bottom: 15px;
  position: absolute;
}

/* line 10, ../scss/modules/_edit-presentation-reorder-panel.scss */
.reorder-node {
  border: 1px solid #e9e9e9;
  padding: 0.5em 1em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}

/* line 16, ../scss/modules/_edit-presentation-reorder-panel.scss */
.reorder-node-title {
  display: inline-block;
  max-width: 90%;
}

/* line 20, ../scss/modules/_edit-presentation-reorder-panel.scss */
.icon-reorder {
  display: inline-block;
  float: right;
  opacity: 0.2;
}

/* -- Edit presentation node panel -- */
/* line 2, ../scss/modules/_edit-presentation-node.scss */
#edit-presentation-node-form {
  font-size: 1em;
  line-height: 1.2em;
}

/* line 6, ../scss/modules/_edit-presentation-node.scss */
#edit-presentation-node-form-order {
  width: 3em;
}

/* line 9, ../scss/modules/_edit-presentation-node.scss */
.edit-presentation-node-form-template-option {
  width: 20%;
  margin-right: 2%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 0.8em;
  margin-top: 0.5em;
}

/* line 18, ../scss/modules/_edit-presentation-node.scss */
.edit-presentation-node-form-template-option input {
  display: block;
  width: 100%;
}

/* line 22, ../scss/modules/_edit-presentation-node.scss */
.form-row {
  margin-bottom: 1em;
}

/* ----- Presentation Footer ----- */
/* line 2, ../scss/modules/_presentation-footer.scss */
#presentation-exit {
  display: inline-block;
  float: right;
}

/* line 7, ../scss/modules/_presentation-footer.scss */
#footer.presentation {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: auto;
}
/* line 13, ../scss/modules/_presentation-footer.scss */
#footer.presentation a.clicker, #footer.presentation .clicker img {
  height: 25px;
  width: 25px;
  border-color: #121212;
}
/* line 18, ../scss/modules/_presentation-footer.scss */
#footer.presentation .clicker img {
  vertical-align: top;
}
/* line 21, ../scss/modules/_presentation-footer.scss */
#footer.presentation a.clicker:hover, #footer.presentation a.clicker:focus, #footer.presentation a.clicker:active {
  border-color: whitesmoke;
}
/* line 24, ../scss/modules/_presentation-footer.scss */
#footer.presentation .click-nav ul li ul {
  bottom: 35px;
  left: auto;
  position: absolute;
  right: auto;
  top: auto;
  padding: 0.5em;
}
/* line 32, ../scss/modules/_presentation-footer.scss */
#footer.presentation ul.dropdown {
  width: 700px;
}
/* line 35, ../scss/modules/_presentation-footer.scss */
#footer.presentation ul.dropdown li {
  display: inline-block;
}
/* line 37, ../scss/modules/_presentation-footer.scss */
#footer.presentation ul.dropdown li img {
  vertical-align: text-bottom;
}
/* line 41, ../scss/modules/_presentation-footer.scss */
#footer.presentation ul.dropdown li:first-child {
  padding-top: 0em;
}
/* line 44, ../scss/modules/_presentation-footer.scss */
#footer.presentation ul.dropdown li a {
  padding: 0.2em;
  background: transparent;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}
/* line 49, ../scss/modules/_presentation-footer.scss */
#footer.presentation ul.dropdown li:last-child {
  padding-bottom: 0em;
}
/* line 52, ../scss/modules/_presentation-footer.scss */
#footer.presentation ul.dropdown li a:hover, #footer.presentation ul.dropdown li a:focus, #footer.presentation ul.dropdown li a:active {
  background: #121212;
}

/* --------------- Node info modal --------------- */
/* line 2, ../scss/modules/_node-info.scss */
.node-info {
  width: 190px;
}

/* line 5, ../scss/modules/_node-info.scss */
.node-info-title {
  font-weight: 600;
  margin: 0.75em 0;
  line-height: 1em;
}

/* line 10, ../scss/modules/_node-info.scss */
.node-info-type {
  margin-right: 5px;
}

/* line 13, ../scss/modules/_node-info.scss */
.node-info-desc {
  font-size: 0.8em;
  line-height: 1.3em;
  margin: 1em 0;
}

/* line 18, ../scss/modules/_node-info.scss */
.node-info-edit {
  padding: 0.3em 1em 0.5em 1em;
  float: left;
}

/* line 22, ../scss/modules/_node-info.scss */
.node-info-more {
  padding: 0.3em 21px 0.5em 1em;
  float: right;
}

/* ----- Dashboard ----- */
/* line 2, ../scss/modules/_dashboard.scss */
.compact p {
  margin: 0 0 0.5em 0;
}

/* line 5, ../scss/modules/_dashboard.scss */
.compact h3 {
  margin: 0;
}

/* line 10, ../scss/modules/_dashboard.scss */
.dashboard h1 {
  display: none;
}

/* line 12, ../scss/modules/_dashboard.scss */
.date {
  font-style: italic;
  color: #086989;
}

/* line 16, ../scss/modules/_dashboard.scss */
#dashboard-projects {
  min-height: 36em;
}

/* ----- Slide Templates ----- */
/* line 3, ../scss/modules/_slide-templates.scss */
.full-image {
  min-height: 100%;
  min-width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  max-width: none;
}

/* line 13, ../scss/modules/_slide-templates.scss */
.slide-overlay {
  background: #121212;
  bottom: 25%;
  color: white;
  max-width: 60%;
  padding: 2em;
  position: fixed;
}

/* line 21, ../scss/modules/_slide-templates.scss */
.slide-type {
  float: left;
  margin-right: 1em;
  position: absolute;
}

/* line 26, ../scss/modules/_slide-templates.scss */
.slide-title {
  font-size: 4em;
  font-weight: 300;
  line-height: 1.2em;
  padding-left: 100px;
}

/* line 34, ../scss/modules/_slide-templates.scss */
.slide-template-half-image .slide-overlay, .slide-template-half-map .slide-overlay {
  bottom: 0;
  max-width: 50%;
  right: 0;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 41, ../scss/modules/_slide-templates.scss */
.slide-template-half-image .slide-type, .slide-template-half-map .slide-type {
  float: none;
  margin-right: auto;
  position: static;
  margin-bottom: 1em;
}
/* line 47, ../scss/modules/_slide-templates.scss */
.slide-template-half-image .slide-title, .slide-template-half-map .slide-title {
  padding-left: 0;
}
/* line 50, ../scss/modules/_slide-templates.scss */
.slide-template-half-image .full-image, .slide-template-half-map .full-image {
  left: auto;
  right: 20%;
}

/* line 58, ../scss/modules/_slide-templates.scss */
.slide-image-container {
  border: 1px solid white;
  height: 30%;
  height: 40%;
  overflow: hidden;
  margin-bottom: 1em;
}
/* line 64, ../scss/modules/_slide-templates.scss */
.slide-image-container img {
  margin-left: -50%;
  margin-top: -35%;
  max-width: none;
  width: 200%;
}

@media screen and (max-width: 1200px) {
  /* line 73, ../scss/modules/_slide-templates.scss */
  .full-image {
    left: 30%;
    margin-left: -600px;
  }

  /* line 78, ../scss/modules/_slide-templates.scss */
  .slide-template-half-image .full-image, .slide-template-half-map .full-image {
    margin-left: auto;
    right: 0;
  }

  /* line 83, ../scss/modules/_slide-templates.scss */
  .slide-image-container {
    height: 30%;
  }
  /* line 85, ../scss/modules/_slide-templates.scss */
  .slide-image-container img {
    margin-top: -25%;
  }
}
@media screen and (max-width: 900px) {
  /* line 92, ../scss/modules/_slide-templates.scss */
  .slide-template-half-image .full-image, .slide-template-half-map .full-image {
    right: -25%;
  }
  /* line 95, ../scss/modules/_slide-templates.scss */
  .slide-template-half-image .slide-title, .slide-template-half-map .slide-title {
    font-size: 3em;
  }

  /* line 99, ../scss/modules/_slide-templates.scss */
  .slide-image-container {
    height: auto;
    max-height: 25%;
  }
  /* line 102, ../scss/modules/_slide-templates.scss */
  .slide-image-container img {
    margin-left: auto;
    margin-top: auto;
    max-width: 100%;
  }
}
@media screen and (max-width: 600px) {
  /* line 110, ../scss/modules/_slide-templates.scss */
  .slide-overlay {
    padding: 1em;
  }

  /* line 113, ../scss/modules/_slide-templates.scss */
  .full-image {
    left: 50%;
  }

  /* line 116, ../scss/modules/_slide-templates.scss */
  .slide-title {
    font-size: 2em;
    padding-left: 60px;
  }

  /* line 120, ../scss/modules/_slide-templates.scss */
  .slide-type img {
    width: 40px;
    height: 40px;
  }

  /* line 125, ../scss/modules/_slide-templates.scss */
  .slide-template-half-image .slide-overlay, .slide-template-half-map .slide-overlay {
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding-bottom: 100px;
    right: 0;
    top: auto;
  }
  /* line 133, ../scss/modules/_slide-templates.scss */
  .slide-template-half-image .full-image, .slide-template-half-map .full-image {
    left: 30%;
    margin-left: -600px;
    right: auto;
    top: -25%;
  }

  /* line 141, ../scss/modules/_slide-templates.scss */
  .slide-template-half-map .slide-title {
    font-size: 2em;
  }
  /* line 144, ../scss/modules/_slide-templates.scss */
  .slide-template-half-map .lead {
    font-size: 1em;
  }
}
/* ----- Presentation controls ----- */
/* line 151, ../scss/modules/_slide-templates.scss */
.presentation-control {
  display: inline-block;
  position: absolute;
  bottom: 50%;
  z-index: 100;
}
/* line 157, ../scss/modules/_slide-templates.scss */
.presentation-control a {
  font-size: 2em;
  padding: 0 0.65em 0.25em;
  background: #121212;
  color: white;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  border-radius: 2em;
  border: 1px solid #3f3f3f;
  opacity: 0.3;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 169, ../scss/modules/_slide-templates.scss */
.presentation-control a:hover, .presentation-control a:focus, .presentation-control a:active {
  text-decoration: none;
  opacity: 1;
}

/* line 176, ../scss/modules/_slide-templates.scss */
.presentation-control.previous {
  left: 1em;
}

/* line 179, ../scss/modules/_slide-templates.scss */
.presentation-control.next {
  right: 1em;
}

/* ----- Profile ----- */
/* line 2, ../scss/modules/_profile.scss */
.profile h1 {
  display: none;
}

/* line 5, ../scss/modules/_profile.scss */
h2.profile-name {
  margin-top: 0;
}

/* line 8, ../scss/modules/_profile.scss */
.float-left img.profile-image {
  margin-right: 2em;
}

/* line 11, ../scss/modules/_profile.scss */
.profile-links a {
  display: block;
  font-size: 1.5em;
  font-weight: 300;
}

/* line 16, ../scss/modules/_profile.scss */
#edit-profile-form-link {
  margin-top: 0;
  margin-bottom: 2em;
}

/* ----- Projects ----- */
/* line 3, ../scss/modules/_projects.scss */
.projects h1 {
  display: none;
}
/* line 6, ../scss/modules/_projects.scss */
.projects h2 {
  margin-bottom: .5em;
}

/* line 11, ../scss/modules/_projects.scss */
.featured {
  color: #b38c14;
  background: whitesmoke;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  font-size: 0.6em;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.02em;
  margin-left: 0.5em;
  padding: 0.2em 0.75em;
}

/* line 22, ../scss/modules/_projects.scss */
#projects-search {
  position: absolute;
  right: 1.5em;
  top: 0.5em;
  width: 180px;
}
/* line 27, ../scss/modules/_projects.scss */
#projects-search input.search {
  padding-right: 2em;
}
/* line 30, ../scss/modules/_projects.scss */
#projects-search input.search-submit {
  height: 20px;
  width: 20px;
  color: transparent;
  background: transparent;
  background-image: url("../img/icon-search.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 7px;
  top: 7px;
  border: none;
  opacity: 0.3;
}
/* line 44, ../scss/modules/_projects.scss */
#projects-search input.search-submit:hover, #projects-search input.search-submit:focus {
  opacity: 0.7;
}

/* line 49, ../scss/modules/_projects.scss */
a.tag {
  font-size: 0.7em;
  background: whitesmoke;
  color: #3f3f3f;
  padding: 0.25em 0.75em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
}

/* line 56, ../scss/modules/_projects.scss */
a.tag:hover, a.tag:focus {
  text-decoration: none;
  color: #121212;
  background: gainsboro;
}

/* ----- Project Tour ----- */
/* line 2, ../scss/modules/_project-tour.scss */
.project-tour {
  width: 300px;
  z-index: 100;
  position: fixed;
  line-height: 1.4em;
}

/* line 8, ../scss/modules/_project-tour.scss */
#project-tour-1 {
  margin-left: -150px;
  top: 40%;
}

/* line 13, ../scss/modules/_project-tour.scss */
#project-tour-2 {
  left: 30px;
  top: 140px;
}

/* line 17, ../scss/modules/_project-tour.scss */
#project-tour-2 .modal-arrow:before, #project-tour-3 .modal-arrow:before {
  border-top-color: transparent;
  border-bottom-color: white;
  left: 30px;
  top: -63px;
}

/* line 23, ../scss/modules/_project-tour.scss */
#project-tour-2 .modal-arrow:after, #project-tour-3 .modal-arrow:after {
  border-top-color: transparent;
  border-bottom-color: #3f3f3f;
  left: 30px;
  top: -67px;
}

/* line 30, ../scss/modules/_project-tour.scss */
#project-tour-3 {
  left: auto;
  right: 30px;
  top: 140px;
}

/* line 35, ../scss/modules/_project-tour.scss */
#project-tour-3 .modal-arrow:before, #project-tour-3 .modal-arrow:after {
  right: 30px;
  left: auto;
}

/* line 40, ../scss/modules/_project-tour.scss */
#project-tour-4 {
  margin-left: -150px;
  top: 20%;
}

/* line 44, ../scss/modules/_project-tour.scss */
#project-tour-4 .modal-arrow:before, #project-tour-5 .modal-arrow:before, #project-tour-6 .modal-arrow:before {
  left: 130px;
  margin-top: 9px;
}

/* line 48, ../scss/modules/_project-tour.scss */
#project-tour-4 .modal-arrow:after, #project-tour-5 .modal-arrow:after, #project-tour-6 .modal-arrow:after {
  left: 130px;
  margin-top: 11px;
}

/* line 53, ../scss/modules/_project-tour.scss */
#project-tour-5 {
  margin-left: -150px;
  top: 55%;
}

/* line 57, ../scss/modules/_project-tour.scss */
#project-tour-6 {
  margin-left: -150px;
  top: 75%;
}

/* line 62, ../scss/modules/_project-tour.scss */
ul.project-tour-status {
  margin: 0;
  padding: 0;
  width: 50%;
  float: left;
}

/* line 68, ../scss/modules/_project-tour.scss */
ul.project-tour-status li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* line 74, ../scss/modules/_project-tour.scss */
ul.project-tour-status a {
  display: inline-block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  width: 12px;
  height: 12px;
  background: white;
  border: 1px solid #3f3f3f;
}

/* line 82, ../scss/modules/_project-tour.scss */
ul.project-tour-status a.active, ul.project-tour-status a:hover, ul.project-tour-status a:focus {
  background: #3f3f3f;
}

/* line 85, ../scss/modules/_project-tour.scss */
.close {
  line-height: 11px;
  position: absolute;
  right: 11px;
}

/* line 90, ../scss/modules/_project-tour.scss */
.close img {
  opacity: 0.5;
}

/* line 93, ../scss/modules/_project-tour.scss */
.close:hover img {
  opacity: 1;
}
