/* --------------- GENERAL STYLES --------------- */
html, body {
    height:100%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size:16px;
    background: $beige;
    color: $black;
    line-height: 1.75em;
}

/* Opera fix for sticky footer */
/* body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
} */


#wrapper {
    min-height:100%;
}

#main {
    overflow:auto;
    padding-bottom:90px;
    padding-top:2em;
}

/* --------------- Headers --------------- */

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin:1em 0 .5em 0;
}
h1 {
    font-size:3em;
    line-height: 1.2em;
}
.front h1 {
    display:none;
}
h2 {
    font-size:2.25em;
    line-height: 1.25em;
}
h3 {
    font-size:1.5em;
    line-height: 1.4em;
}
h4 {
    font-size:1.25em;
    line-height: 1.5em;
}
h5 {
    font-size:1em;
    line-height: 1.5em;
}
h6 {
    font-size:0.9em;
    line-height: 1.5em;
}

/* --------------- Images --------------- */
img {
    max-width: 100%;
}

/* --------------- Text --------------- */
.lead {
    font-weight: 300;
    font-size:1.75em;
    line-height: 1.25em;
    margin-bottom: 0.5em;
}
.small {
    font-size: 0.8em;
    line-height: 1.5em;
}

/* --------------- Lists --------------- */
ul li {
    list-style-type: square;
}

/* --------------- Links --------------- */
a {
    text-decoration: none;
    color: $gold;
    font-weight: 600;
}
a:hover, a:focus {
    text-decoration: underline;
    position: relative;
}

/* --------------- Tooltips on links --------------- */
a[data-title]:hover:after {
    content: attr(data-title);
    color: $black;
    background: $white;
    font-size: 0.7em;
    left: -25px;
    padding: 0.2em 0.5em;
    position: absolute;
    top: 250%;
    white-space: nowrap;
    z-index: 20;
    @include border-radius(5px);
    @include box-shadow(0px 0px 4px #222);
}

/* --------------- Logo and Site Title --------------- */
.logo, .site-title {
    display: inline-block;
}
.logo {
    margin-right: 0.5em;
    vertical-align: super;
}
a.logo-link:hover, a.logo-link:focus, a.logo-link:active {
    text-decoration:none;
}
.site-title {
    color: $white;
    font-size: 1.5em;
    font-weight: 600;
}

/* ----- Footer logo and site title ----- */
#footer .logo {
    margin-right: 0.25em;
}
#footer .logo img {
    height: auto;
    width: 25px;
}
#footer .site-title {
    font-size: 1.2em;
}

/* --------------- Display and positioning helper classes --------------- */
.hidden {
    display:none;
}
.align-center {
    text-align: center;
}
.grid-4 {
    width:30%;
    display: inline-block;
    margin-right: 1em;
    width: 30%;
    vertical-align: top;
    @include box-sizing(border-box);
}
.grid-4:last-child {
    margin-right:0;
}

.divider {
    clear:both;
    border-top: 1px solid $gray-light;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-top:1em;
}
.divider:last-of-type {
    border-bottom: 1px solid $gray-light;
    padding-bottom:0.5em;
}


.float-left {
    float:left;
    img {
        margin-right:1em;
        margin-bottom:1em;
    }
}
.float-right {
    float:right;
    img {
        margin-left:1em;
        margin-bottom:1em;
    }
}
.clear-both {
    clear:both;
}

.row {
    clear:both;
    overflow:hidden;
    margin-bottom:1em;
    
    .span1 { @include span-columns(1,12); }
    .span2 { @include span-columns(2,12); }
    .span3 { @include span-columns(3,12); }
    .span4 { @include span-columns(4,12); }
    .span5 { @include span-columns(5,12); }
    .span6 { @include span-columns(6,12); }
    .span7 { @include span-columns(7,12); }
    .span8 { @include span-columns(8,12); }
    .span9 { @include span-columns(9,12); }
    .span10 { @include span-columns(10,12); }
    .span11 { @include span-columns(11,12); }
    div:last-child { margin-right:0; }
}

/* --------------- FOOTER --------------- */

#footer {
    position:relative;
    margin-top:-90px;
    height:90px;
    clear:both;
    font-size: 0.8em;
}
#footer p {
    margin:0;
}