/* --------------- DARK --------------- */

.dark {
    background: $black;
    color: $gray-light;
    font-weight: 300;
    letter-spacing: 0.02em;
}

/* --------------- Links - dark --------------- */
.dark a {
    color: $gold-light;
    font-weight: 300;
}

/* --------------- Buttons - dark --------------- */
.dark .button {
    color: $white;
}