/* --------------- DARK --------------- */

.dark {
    background:#121212;
    color: #E9E9E9;
    font-weight: 300;
    letter-spacing: 0.02em;
}

/* --------------- Links - dark --------------- */
.dark a {
    color:#E5C04E;
    font-weight: 300;
}

/* --------------- Buttons - dark --------------- */
.dark .button {
    color:#ffffff;
}