$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

$white: #FFFFFF;
$black: #121212;
$beige: #F5F5F5;
$gray: #3F3F3F;
$gray-light: #e9e9e9;
$purple: #783D7A;
$purple-light: #A85FAB;
$blue: #086989;
$blue-light: #1A9CC6;
$green: #4B6A18;
$green-light: #749D32;
$gold: #B38C14;
$gold-light: #E5C04E;
$red: #AE2F2C;

$red-highlight: #FFE4E4;
$green-highlight: #E7FFE4;