a:after {
    content: " »";
}
a:hover, a:focus {
    text-decoration: underline;
}

a.button:after {
    content:none;
}
.button:hover, .button:focus {
    background:#262626;
    text-decoration: none;
}

a.logo-link:after {
    content: none;
}
a.logo-link:hover, a.logo-link:focus, a.logo-link:active {
    text-decoration:none;
}

.menu a:after {
    content:none;
}