.container {
    max-width: 1200px;
    padding:16px 32px;
    margin-left: auto;
    margin-right:auto;
}

#main-menu {
    display: inline-block;
    margin-left: 1em;
}
.logged-in #main-menu {
	float:right;
}

#header {

}

#content {

}

#left {

}

#right {

}

#footer {
    font-size: 0.8em;
}
#footer p {
    margin:0;
}