/* --------------- Containers --------------- */
.border-top {
    border-top: 1px solid $gray;
}
.container {
    padding:16px 32px;
    margin-left: auto;
    margin-right:auto;
    clear:both;
}
.container.constrained {
    max-width: 1200px;
}