/* ----- Alert ----- */
.alert {
	padding: 0.5em 2em .5em 1em;
	line-height: 1.3em;
	font-size: 0.85em;
}

.modal.alert {
	width:300px;
	margin-left:-150px;
	top: 150px;
}
.well.alert {
	margin-bottom:1em;
}

.alert-success {
	background: tint($green-light, 80%);
	a {
		color:$green;
	}
	a:hover {
		color:$black;
	}
}

.alert-error {
	background: tint($red, 80%);
	a {
		color:$red;
	}
	a:hover {
		color:$black;
	}
}
.alert-info {
	background: tint($blue-light, 80%);
	a {
		color:$blue;
	}
	a:hover {
		color:$black;
	}
}
a.alert-undo {

}