/* --------------- Buttons --------------- */
.button {
    background: $gray;
    @include border-radius(0.5em);
    color: $white;
    display: inline-block;
    line-height: 1.2em;
    padding: 0.5em 1.5em;
    font-size: 0.8em;
    font-weight: 500;
    border:0;
}

.button:hover, .button:focus {
    background: shade($gray, 30%);
    text-decoration: none;
    cursor: pointer;
}
.button.red {
    background: $red;
}
.button.red:hover, .button.red:focus {
    background: shade($red, 30%);
}
.button.purple {
    background: $purple;
}
.button.purple:hover, .button.purple:focus {
    background: shade($purple, 30%);
}
.button.green {
    background: $green;
}
.button.green:hover, .button.green:focus {
    background: shade($green, 30%);
}
.button.blue {
    background: $blue;
}
.button.blue:hover, .button.blue:focus {
    background: shade($blue, 30%);
}
.button.more-link, .button.more-link:hover {
    background-image: url("../img/icon-arrow-right.png");
    background-position: 87% center;
    background-repeat: no-repeat;
    padding-right: 30px;
}