/* --------------- Buttons --------------- */
.button {
    background: #3F3F3F;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    color: #FFFFFF;
    display: inline-block;
    line-height: 1.2em;
    padding: 0.7em 2em;
    font-size: 0.8em;
    font-weight: 500;
    border:0;
}

.button:hover, .button:focus {
    background:#262626;
    text-decoration: none;
}
.button.red {
    background: #AE2F2C;
}
.button.red:hover, .button.red:focus {
    background:#951613;
}
.button.purple {
    background: #783D7A;
}
.button.purple:hover, .button.purple:focus {
    background:#5F2461;
}
.button.green {
    background: #4B6A18;
}
.button.green:hover, .button.green:focus {
    background:#325100;
}
.button.blue {
    background: #086989;
}
.button.blue:hover, .button.blue:focus {
    background:#005070;
}
.button.more-link, .button.more-link:hover {
    background-image: url("../img/icon-arrow-right.png");
    background-position: 87% center;
    background-repeat: no-repeat;
    padding-right: 30px;
}