#project-header {
	border-bottom: 1px solid #121212;
}
.project-thumb {
	display: inline-block;
    margin-right: 0.5em;
    vertical-align: super;
}
h1.project-title {
	font-size: 1.5em;
    font-weight: 600;
    margin: 0;
	display:inline-block;
}
#project-menu {
	display:inline-block;
	float: right;
}