/* --------------- PROJECT PAGE --------------- */

/* --------------- Project header --------------- */
#project-header {
    border-bottom: 1px solid #121212;
}
.project-thumb {
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: super;
}
h1.project-title {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
    display:inline-block;
}

/* --------------- Project menu (modes) --------------- */
#project-menu {
    display:inline-block;
    float: right;
}
#project-menu img {
    display:block;
}
#project-menu a {
    opacity: 0.6;
}
#project-menu a:hover, #project-menu a:focus, #project-menu a.active  {
    opacity: 1;
}
#project-menu .menu li {
    border:0;
}

/* --------------- Project actions menu (dropdown) --------------- */
#project-actions-menu img {
    margin-right: 0.25em;
}