/* --------------- PROJECT PAGE --------------- */

/* --------------- Project header --------------- */
#project-header {
    border-bottom: 1px solid $black;
}
.project-thumb {
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: super;
}
h1.project-title {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
    display:inline-block;
}

/* --------------- Project menu (modes) --------------- */
#project-menu {
    display:inline-block;
    float: right;
}
#project-menu img {
    display:block;
}
#project-menu a {
    opacity: 0.6;
}
#project-menu a:hover, #project-menu a:focus, #project-menu a.active  {
    opacity: 1;
}
#project-menu .menu li {
    border:0;
}

/* --------------- Project actions menu (dropdown) --------------- */
#project-actions-menu img {
    margin-right: 0.25em;
}

/* --------------- Edit presentation menu (dropdown) --------------- */
#edit-presentation-header {
    display:inline-block;
    float:right;
}
#edit-presentation-header ul.dropdown {
    width: 180px;
}
#edit-presentation-menu-title, #edit-presentation-done {
    display:inline-block;
}
#edit-presentation-menu-title {
    margin-right: 1em;
    font-weight:600;
}
#edit-presentation-header a.clicker {
    opacity:0.6;
    border:none;
}
#edit-presentation-header a.clicker:hover, #edit-presentation-header a.clicker:focus, #edit-presentation-header a.clicker:active {
    opacity:1;
    border:none;
}