/* --------------- Modals and Panels --------------- */
.modal, .panel {
    background: $white;
    border:1px solid $black;
    padding: 0.7em 1em;
    display: block;
    position:absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 50%;
    top: 100px;
}
.modal {
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
}
.panel {
    border-bottom: 0;
    border-top: 0;
    height: 100%;
    left: auto;
    right: 0;
    top: 0;
    width: 380px;
    z-index: 20;
}

/* --------------- Modal arrows --------------- */
.modal-arrow {
    height:0px;
}
.modal-arrow:before, .modal-arrow:after {
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
    border: 15px solid transparent;
}
.modal-arrow:before {
    z-index: 2;
    border-top-color: $white;
    left: 75px;
    margin-top: 35px;
}
.modal-arrow:after {
    z-index: 1;
    border-top-color: $gray;
    left: 75px;
    margin-top: 37px;
}
/* --------------- Arrows for new node form states --------------- */
.is-short .modal-arrow:before {
    left: 95px;
    margin-top:170px;
} 
.is-short .modal-arrow:after {
    left: 95px;
    margin-top:172px;
}
.is-long .modal-arrow:before {
    border-top-color: transparent;
    border-right-color: $white;
    left: -28px;
    margin-top: 160px;
}
.is-long .modal-arrow:after {
    border-top-color: transparent;
    border-right-color: $gray;
    left: -30px;
    margin-top: 160px;
}

