/* ----- Presentation Footer ----- */
#presentation-exit {
	display:inline-block;
	float:right;
}

#footer.presentation { 
	bottom: 0;
    position: absolute;
    width: 100%;

	a.clicker, .clicker img { 
	    height: 25px; 
	    width: 25px; 
	    border-color:$black;
	}
 	.clicker img {
	 	vertical-align: top;
	 }
 	a.clicker:hover, a.clicker:focus, a.clicker:active {
 		border-color:$beige;
 	}
 	.click-nav ul li ul {
 		bottom: 35px;
	    left: auto;
	    position: absolute;
	    right: auto;
	    top: auto;
	    padding:0.5em;
 	}
 	ul.dropdown {
 		width:700px;
 	}
 	ul.dropdown li {
 		display:inline-block;
 		img {
 			vertical-align: text-bottom;
 		}
 	}
 	ul.dropdown li:first-child {
 		padding-top: 0em;
 	}
 	ul.dropdown li a {
 		padding:0.2em;
 		background:transparent;
 		@include border-radius(0.25em);
 	}
 	ul.dropdown li:last-child {
 		padding-bottom: 0em;
 	}
 	ul.dropdown li a:hover, ul.dropdown li a:focus, ul.dropdown li a:active {
 		background:$black;

 	}
 }