/* ----- Profile ----- */
.profile h1 {
	display:none;
}
h2.profile-name {
	margin-top:0;
}
.float-left img.profile-image {
	margin-right:2em;
}
.profile-links a {
	display:block;
	font-size: 1.5em;
    font-weight: 300;
}