/* ----- Slide Templates ----- */
.slide-template, #presentation-controls {
	position: fixed;
	width: 100%;
	top: 0;
	bottom: 0;
}
.slide-template {
	background: $gray;
}
.slide-template.slide-template-half-map, .slide-template.slide-template-full-map {
	background:transparent;
}
.full-image {
	min-height: 100%;
	min-width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index:-10;
	max-width:none;
}

img.slide-bkg {
	min-height: 100%;
	min-width: 100%;
	height: auto;
	max-width:none;
	position: fixed;
	top: 0;
	left: auto;
	right:20%;
	z-index:-10;
}

.slide-overlay {
	background:$black;
	bottom: 25%;
    color: $white;
    max-width: 60%;
    padding: 2em;
    position: fixed;
}
.slide-type {
	float:left;
	margin-right: 1em;
	position:absolute;
}
.slide-title {
	font-size: 4em;
    font-weight: 300;
    line-height: 1.2em;
    padding-left: 100px;
}

.slide-template-project-slide .slide-title {
	padding-left:0;
}

.slide-template-half-image {
	.slide-overlay {
		bottom: 0;
	    max-width: 50%;
	    right: 0;
	    top: 0;
	    @include box-sizing(border-box);
	}
	.slide-type {
		float:none;
		margin-right:auto;
		position:static;
		margin-bottom:1em;
	}
	.slide-title {
		padding-left:0;
	}
	.full-image {
		left:auto;
		right:20%;
	}
}
.slide-template-half-map {
	@extend .slide-template-half-image;
}
.slide-image-container {
	border:1px solid $white;
	height:30%;
	height: 40%;
    overflow: hidden;
    margin-bottom:1em;
    img {
    	margin-left: -50%;
	    margin-top: -35%;
	    max-width: none;
	    width: 200%;
    }
}

@media screen and (max-width: 1200px) { 
	.full-image {
		left: 30%;
		margin-left: -400px;
	}
	.slide-template-half-image {
		.full-image {
			margin-left:auto;
			right:0;
		}
	}
	.slide-image-container {
		height:30%;
		img {
			margin-top:-25%;
		}
	}
}
@media screen and (max-width: 900px) { 
	.slide-template-half-image {
	  	.full-image {
	  		right:-25%;
	  	}
	  	.slide-title {
	  		font-size:3em;
	  	}
	}
	.slide-image-container {
		height:auto;
		max-height: 25%;
		img {
			margin-left:auto;
			margin-top:auto;
			max-width:100%;
		}
	}
}
@media screen and (max-width: 600px) { 
	.slide-overlay {
		padding:1em;
	}
	.full-image {
		left: 50%;
	}
	.slide-title {
		font-size:2em;
		padding-left:60px;
	}
	.slide-type img {
		width:40px;
		height:40px;
	}
	.slide-template-half-image {
		.slide-overlay {
			bottom: 0;
		    left: 0;
		    max-width: 100%;
		    padding-bottom: 100px;
		    right: 0;
		    top: auto;
		}
		.full-image {
			left: 30%;
		    margin-left: -600px;
		    right: auto;
		    top: -25%;
		}
	}
	.slide-template-half-map {
		.slide-title {
			font-size:2em;
		}
		.lead {
			font-size:1em;
		}
	}
}

/* ----- Presentation controls ----- */
.presentation-control {
	display:inline-block;
	position: absolute;
    bottom: 50%;
    z-index:100;

	a {
		font-size:2em;
		padding:0 0.65em 0.25em;
		background:$black;
		color:$white;
		@include border-radius(2em);
		border:1px solid $gray;
		opacity:0.3;
		@include transition-property(opacity);
		@include transition-duration(0.1s);
  		@include transition-timing-function(ease-in);
	}
	a:hover, a:focus, a:active {
		text-decoration:none;
		opacity:1;
	}


}
.presentation-control.previous {
	left:1em;
}
.presentation-control.next {
	right:1em;
}