/* --------------- Zoom controls --------------- */
#zoom-controls {
    position:absolute;
    top: 5px;
    right: 5px;
    background: $white;
    border: 1px solid $black;
    display: inline-block;
    padding:0.5em;
    z-index: 1;
}
#zoom-label {
    font-size: 0.8em;
    line-height: 1em;
}
.zoom-control {
    display:inline-block;
    background: $black;
    border: none;
    font-size: 0;
    height: 15px;
    width: 15px;
    margin-right: 2px;
}
.zoom-control:hover {
    background: $gray;
}
#zoom-1 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#zoom-2 {
    height: 20px;
    width: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#zoom-3 {
    height: 27px;
    width: 27px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}