/* ----- New node modal ----- */
#new-node {
    background:#ffffff;
    border:1px solid #121212;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    padding: 0.5em 1em;
    display: inline-block;
}
#new-node-thumb {
    display:inline-block;
    margin-right: .5em;
}
#new-node-form {
    display:inline-block;
}
#new-node-cancel {
    
}
input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email] {
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    padding: 0.5em;
    font-weight: 300;
}
#new-node-form-submit {

}
#new-node-form-buttons {
    margin-top: .5em;
}
#new-node-more {
    display:inline-block;
}